# LaTeX junk
*.aux
*.fdb_latexmk
*.log
*.fls
*.out
*.synctex.gz
*.toc
*.xdv

# Data files to ignore
*.dat
*.txt

# OS junk
*.DS_Store

# Python binaries
*__pycache__
*.pyc

# Sublime stuff
*.sublime-*

# Datafiles
datafiles/

# Figures
*.png

# Test
*.bat

test_scripts/ # Testing scripts not to be uploaded

# Pickle files
*.pkl