# LaTeX junk
*.aux
*.fdb_latexmk
*.log
*.fls
*.out
*.synctex.gz
*.toc
*.xdv

# Data files to ignore
*.dat
*.txt

# OS junk
*.DS_Store

# Python binaries
*__pycache__
*.pyc

# Sublime stuff
*.sublime-*